body, html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    position: relative;

    background: #FFF;
    color: #C9C9C9;

    font-family: 'Satisfy', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: context-menu;
}

::selection {
    background: #EEE;
    color: #E3685A;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .title {
    text-shadow: 0 1px 1px rgba(255, 255, 255, .8);
}
.section .title .fa {
    font-size: 15px;
    color: #E3685A;
}